# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Environments
.env
.venv/
env/
venv/
test_env/

# Tooling
.pytest_cache/
.mypy_cache/
.coverage
dist/
build/
*.egg-info/

# MLflow (legacy)
mlflow.db
mlruns.db
mlruns/

# Weights & Biases
wandb/

# Logs
logs/

# OS and IDE
.DS_Store
.vscode/
.idea/

# -----------------------------
# Data
# -----------------------------
data/**
!data/
!data/raw/
!data/processed/
!data/inference/
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/inference/.gitkeep

# -----------------------------
# Models
# -----------------------------
models/**
!models/
!models/.gitkeep

# -----------------------------
# Reports
# -----------------------------
reports/**
!reports/
!reports/.gitkeep

# Python cache
__pycache__/
*.pyc
